<a href="https://colab.research.google.com/github/Omvijaya/placement_dashboard/blob/main/DB_generation_for_placement_dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
DB_CONFIG={
    'host': 'localhost',
    'user': 'root',
    'password': '12345',
    'database': 'placement_db'
}

In [ ]:

import mysql.connector
class DataBaseManager:
    def __init__(self,**kwargs):
        self.conn=mysql.connector.connect(
            host=kwargs['host'],
            user=kwargs['user'],
            password=kwargs['password'],
            database=kwargs['database']
        )
        self.cursor=self.conn.cursor()
    def create_table(self,query):
        self.cursor.execute(query)
        self.conn.commit()
    def insert(self,query,values):
        self.cursor.execute(query,values)
        self.conn.commit()
    def fetch(self,query):
        self.cursor.execute(query)
        return self.cursor.fetchall()
    def close(self):
        self.conn.close()
    print('Finished')

Finished

In [ ]:
db=DataBaseManager(**DB_CONFIG)
create_students='''
CREATE TABLE IF NOT EXISTS students(
student_id INT AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(255),
age INT,
gender ENUM('Male','Female'),
email VARCHAR(255),
phone VARCHAR(255),
enrollment_year INT,
course_batch VARCHAR(50),
city VARCHAR(50),
graduation_year INT);'''
db.create_table(create_students)
print('created')

created

In [ ]:
db=DataBaseManager(**DB_CONFIG)
create_programs='''
CREATE TABLE IF NOT EXISTS Programs(programmming_id INT AUTO_INCREMENT PRIMARY KEY,
student_id INT ,
programs_solved_in_py INT,
programs_solved_in_sql INT,
assessments_completed INT,
mini_projects INT,
certifications_earned INT,
latest_project_score INT,
FOREIGN KEY(student_id) REFERENCES Students(student_id));
'''
db.create_table(create_programs)
print('created')

created

In [ ]:
db=DataBaseManager(**DB_CONFIG)
create_softskill='''
CREATE TABLE IF NOT EXISTS SoftSkills (
    softskill_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    communication INT,
    teamwork INT,
    presentation INT,
    leadership INT,
    critical_thinking INT,
    interpersonal_skills INT,
    Average_score DECIMAL(10,2),
    FOREIGN KEY (student_id) REFERENCES Students(student_id)
);
'''
db.create_table(create_softskill)
print('Created')

Created

In [ ]:
db=DataBaseManager(**DB_CONFIG)
create_placements='''
CREATE TABLE IF NOT EXISTS Placements (
    placement_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    mock_interview_score INT,
    internships_completed INT,
    placement_status VARCHAR(50),
    company_name VARCHAR(100),
    placement_package INT,
    interview_rounds_cleared INT,
    placement_date DATE,
    FOREIGN KEY (student_id) REFERENCES Students(student_id)
);
'''
db.create_table(create_placements)
print('Created')

Created

In [ ]:
class student:
    def __init__(self,name,age,gender,email,phone,enrollment_year,course_batch,city,graduation_year):
        self.name = name
        self.age = age
        self.gender = gender
        self.email = email
        self.phone = phone
        self.enrollment_year = enrollment_year
        self.course_batch = course_batch
        self.city = city
        self.graduation_year = graduation_year
    def save_to_db(self,db):
        querry='''INSERT INTO students(
        name,age,gender,email,phone,enrollment_year,course_batch,city,graduation_year)
        VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)
        '''
        values=(self.name, self.age, self.gender, self.email, self.phone,
                  self.enrollment_year, self.course_batch, self.city, self.graduation_year)
        db.insert(querry,values)
    print('No error')

No error

In [ ]:
class Programming:
    def __init__(self, student_id, programs_solved_in_py, programs_solved_in_sql, assessments_completed, mini_projects, certifications_earned, latest_project_score):
        self.student_id = student_id
        self.programs_solved_in_py= programs_solved_in_py
        self.programs_solved_in_sql = programs_solved_in_sql
        self.assessments_completed = assessments_completed
        self.mini_projects = mini_projects
        self.certifications_earned = certifications_earned
        self.latest_project_score = latest_project_score

    def save_to_db(self, db):
        query = '''
        INSERT INTO Programs (student_id, programs_solved_in_py, programs_solved_in_sql, assessments_completed, mini_projects, certifications_earned, latest_project_score)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        '''
        values = (self.student_id, self.programs_solved_in_py, self.programs_solved_in_sql, self.assessments_completed,
                  self.mini_projects, self.certifications_earned, self.latest_project_score)
        db.insert(query, values)
    print('No error')

No error

In [ ]:
class softskills:
    def __init__(self,student_id,communication,teamwork,presentation,leadership,critical_thinking,interpersonal_skills,Average_score):
        self.student_id = student_id
        self.communication = communication
        self.teamwork = teamwork
        self.presentation = presentation
        self.leadership = leadership
        self.critical_thinking = critical_thinking
        self.interpersonal_skills = interpersonal_skills
        self.Average_score = Average_score
    def save_to_db(self,db):
        query='''INSERT INTO softskills (student_id,communication,teamwork,presentation,leadership,critical_thinking,interpersonal_skills,Average_score)
        VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'''
        values=(self.student_id, self.communication, self.teamwork, self.presentation,
                  self.leadership, self.critical_thinking, self.interpersonal_skills,self.Average_score)
        db.insert(query,values)
    print('No error')

No error

In [ ]:
class Placement:
    def __init__(self, student_id, mock_interview_score, internships_completed, placement_status, company_name, placement_package, interview_rounds_cleared, placement_date):
        self.student_id = student_id
        self.mock_interview_score = mock_interview_score
        self.internships_completed = internships_completed
        self.placement_status = placement_status
        self.company_name = company_name
        self.placement_package = placement_package
        self.interview_rounds_cleared = interview_rounds_cleared
        self.placement_date = placement_date

    def save_to_db(self, db):
        query = '''
        INSERT INTO Placements (student_id, mock_interview_score, internships_completed, placement_status, company_name, placement_package, interview_rounds_cleared, placement_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'''
        values = (self.student_id, self.mock_interview_score, self.internships_completed,
                  self.placement_status, self.company_name, self.placement_package, self.interview_rounds_cleared, self.placement_date)
        db.insert(query, values)
    print('No error')

No error

In [ ]:
import numpy as np
from faker import Faker
fake=Faker()
db=DataBaseManager(**DB_CONFIG)
for i in range(500):
    age=np.random.randint(18,25)
    s=student(
        name=fake.name(),
        age=age,
        gender=np.random.choice(['Male','Female']),
        email=fake.email(),
        phone=fake.phone_number()[:15],
        enrollment_year=np.random.randint(2023,2025),
        course_batch=f'Batch-{np.random.randint(1,15)}',
        city=np.random.choice(['Chennai','Banglore','Coimbatore','Kumbakonam','Trichy','Tirunelveli','Selam']),
        graduation_year=2045-age)
    s.save_to_db(db)
print('No error')

No error

In [ ]:
import numpy as np
student_ids = [row[0] for row in db.fetch('SELECT student_id FROM Students')]
for student_id in student_ids:
    p = Programming(
        student_id=student_id,
        programs_solved_in_py=np.random.randint(50, 501),
        programs_solved_in_sql=np.random.randint(10, 101),
        assessments_completed=np.random.randint(2, 11),
        mini_projects=np.random.randint(1, 6),
        certifications_earned=np.random.randint(0, 3),
        latest_project_score=np.random.randint(50, 101)
    )
    p.save_to_db(db)
print('No error')

No error

In [ ]:
import numpy as np
student_ids = [row[0] for row in db.fetch('SELECT student_id FROM Students')]
for student_id in student_ids:
    communication=np.random.randint(40, 100)
    teamwork=np.random.randint(40, 100)
    presentation=np.random.randint(40, 100)
    leadership=np.random.randint(40, 100)
    critical_thinking=np.random.randint(40, 100)
    interpersonal_skills=np.random.randint(40, 100)
    ss = softskills(
        student_id=student_id,
        communication=communication,
        teamwork=teamwork,
        presentation=presentation,
        leadership=leadership,
        critical_thinking=critical_thinking,
        interpersonal_skills=interpersonal_skills,
        Average_score=(communication+teamwork+presentation+leadership+critical_thinking+interpersonal_skills)/6
            )
    ss.save_to_db(db)
print('No error')

No error

In [ ]:
from faker import Faker
import numpy as np
statuses = ["Ready", "Not Ready", "Placed"]
companies = ["TCS", "Infosys", "Wipro", "Amazon", "Google"]
student_ids = [row[0] for row in db.fetch('SELECT student_id FROM Students')]
fake=Faker()
for student_id in student_ids:
    placement_status=np.random.choice(statuses)
    company_name=''
    placement_package=0
    placement_date=None
    interview_rounds_cleared=np.random.randint(1,5)
    if placement_status=='Placed':
        company_name=np.random.choice(companies)
        placement_package=100000*(np.random.randint(3,15))
        interview_rounds_cleared=5
        placement_date=fake.date_between(start_date='-1y', end_date='today')
    placement = Placement(
        student_id=student_id,
        mock_interview_score=np.random.randint(50, 100),
        internships_completed=np.random.randint(0, 3),
        placement_status=placement_status,
        company_name=company_name,
        placement_package=placement_package,
        interview_rounds_cleared=interview_rounds_cleared,
        placement_date=placement_date
    )
    placement.save_to_db(db)
print ('Created')

Created

In [ ]:
dp=DataBaseManager(**DB_CONFIG)
print(dp.fetch('Select * from placements'))

[(2002, 1, 91, 2, 'Not Ready', '', 0, 0, None), (2003, 2, 75, 1, 'Placed', 'Infosys', 1300000, 5, datetime.date(2025, 5, 5)), (2004, 3, 93, 2, 'Not Ready', '', 0, 2, None), (2005, 4, 98, 1, 'Ready', '', 0, 3, None), (2006, 5, 86, 1, 'Not Ready', '', 0, 2, None), (2007, 6, 51, 0, 'Not Ready', '', 0, 2, None), (2008, 7, 99, 2, 'Not Ready', '', 0, 1, None), (2009, 8, 64, 1, 'Not Ready', '', 0, 3, None), (2010, 9, 78, 2, 'Not Ready', '', 0, 0, None), (2011, 10, 50, 2, 'Not Ready', '', 0, 1, None), (2012, 11, 95, 2, 'Placed', '', 1400000, 5, datetime.date(2024, 11, 3)), (2013, 12, 62, 2, 'Ready', '', 0, 1, None), (2014, 13, 52, 1, 'Not Ready', '', 0, 0, None), (2015, 14, 60, 2, 'Ready', '', 0, 2, None), (2016, 15, 73, 0, 'Placed', 'Amazon', 1200000, 5, datetime.date(2025, 3, 28)), (2017, 16, 78, 1, 'Placed', 'Google', 400000, 5, datetime.date(2025, 4, 23)), (2018, 17, 86, 1, 'Placed', 'Infosys', 1400000, 5, datetime.date(2024, 12, 16)), (2019, 18, 82, 0, 'Not Ready', '', 0, 2, None), (2020, 19, 77, 2, 'Placed', '', 1400000, 5, datetime.date(2025, 6, 22)), (2021, 20, 78, 0, 'Ready', '', 0, 1, None), (2022, 21, 87, 0, 'Not Ready', '', 0, 1, None), (2023, 22, 63, 2, 'Placed', 'Infosys', 400000, 5, datetime.date(2025, 6, 4)), (2024, 23, 69, 1, 'Placed', 'TCS', 400000, 5, datetime.date(2025, 1, 16)), (2025, 24, 70, 2, 'Not Ready', '', 0, 2, None), (2026, 25, 93, 1, 'Not Ready', '', 0, 2, None), (2027, 26, 67, 1, 'Placed', 'Infosys', 1000000, 5, datetime.date(2024, 8, 7)), (2028, 27, 72, 1, 'Not Ready', '', 0, 2, None), (2029, 28, 75, 2, 'Not Ready', '', 0, 0, None), (2030, 29, 96, 1, 'Not Ready', '', 0, 1, None), (2031, 30, 94, 2, 'Not Ready', '', 0, 2, None), (2032, 31, 99, 1, 'Not Ready', '', 0, 4, None), (2033, 32, 97, 1, 'Not Ready', '', 0, 3, None), (2034, 33, 55, 0, 'Not Ready', '', 0, 0, None), (2035, 34, 88, 2, 'Ready', '', 0, 0, None), (2036, 35, 65, 2, 'Not Ready', '', 0, 2, None), (2037, 36, 95, 1, 'Not Ready', '', 0, 2, None), (2038, 37, 78, 2, 'Not Ready', '', 0, 2, None), (2039, 38, 80, 1, 'Placed', 'TCS', 1100000, 5, datetime.date(2025, 1, 3)), (2040, 39, 83, 1, 'Ready', '', 0, 1, None), (2041, 40, 57, 1, 'Ready', '', 0, 3, None), (2042, 41, 60, 1, 'Ready', '', 0, 0, None), (2043, 42, 74, 2, 'Not Ready', '', 0, 2, None), (2044, 43, 77, 1, 'Ready', '', 0, 2, None), (2045, 44, 85, 2, 'Not Ready', '', 0, 4, None), (2046, 45, 61, 2, 'Ready', '', 0, 2, None), (2047, 46, 54, 1, 'Placed', 'Wipro', 1100000, 5, datetime.date(2025, 5, 9)), (2048, 47, 90, 2, 'Placed', 'Google', 1200000, 5, datetime.date(2024, 9, 26)), (2049, 48, 76, 0, 'Ready', '', 0, 0, None), (2050, 49, 99, 2, 'Not Ready', '', 0, 1, None), (2051, 50, 50, 1, 'Not Ready', '', 0, 1, None), (2052, 51, 51, 2, 'Placed', 'TCS', 600000, 5, datetime.date(2024, 12, 15)), (2053, 52, 94, 0, 'Not Ready', '', 0, 0, None), (2054, 53, 97, 1, 'Not Ready', '', 0, 2, None), (2055, 54, 50, 2, 'Placed', '', 300000, 5, datetime.date(2025, 6, 15)), (2056, 55, 97, 2, 'Not Ready', '', 0, 0, None), (2057, 56, 90, 1, 'Not Ready', '', 0, 3, None), (2058, 57, 58, 0, 'Ready', '', 0, 2, None), (2059, 58, 54, 1, 'Placed', 'Infosys', 300000, 5, datetime.date(2025, 7, 13)), (2060, 59, 58, 0, 'Placed', 'Infosys', 400000, 5, datetime.date(2025, 1, 26)), (2061, 60, 56, 0, 'Placed', 'Wipro', 900000, 5, datetime.date(2024, 11, 30)), (2062, 61, 99, 1, 'Placed', 'Infosys', 1400000, 5, datetime.date(2025, 6, 30)), (2063, 62, 70, 0, 'Placed', 'TCS', 1400000, 5, datetime.date(2025, 3, 29)), (2064, 63, 55, 2, 'Not Ready', '', 0, 4, None), (2065, 64, 58, 0, 'Placed', 'TCS', 500000, 5, datetime.date(2025, 1, 14)), (2066, 65, 64, 0, 'Ready', '', 0, 4, None), (2067, 66, 90, 2, 'Ready', '', 0, 4, None), (2068, 67, 68, 2, 'Ready', '', 0, 4, None), (2069, 68, 82, 2, 'Not Ready', '', 0, 2, None), (2070, 69, 92, 1, 'Not Ready', '', 0, 3, None), (2071, 70, 94, 2, 'Not Ready', '', 0, 4, None), (2072, 71, 57, 0, 'Placed', 'Google', 1000000, 5, datetime.date(2025, 5, 21)), (2073, 72, 71, 0, 'Placed', 'Infosys', 1300000, 5, datetime.date(2025, 4, 17)), (2074, 73, 73, 1, 'Ready', '', 0, 0, None), (2075, 74, 97, 2, 'Ready', '', 0, 1, None), (2076, 75, 55, 2, 'Ready', '', 0, 2, None), (2077, 76, 76, 2, 'Ready', '', 0, 1, None), (2078, 77, 89, 1, 'Placed', '', 1000000, 5, datetime.date(2024, 10, 6)), (2079, 78, 89, 1, 'Ready', '', 0, 0, None), (2080, 79, 68, 2, 'Not Ready', '', 0, 0, None), (2081, 80, 78, 2, 'Placed', 'Amazon', 500000, 5, datetime.date(2025, 3, 11)), (2082, 81, 89, 1, 'Not Ready', '', 0, 1, None), (2083, 82, 73, 1, 'Not Ready', '', 0, 0, None), (2084, 83, 64, 0, 'Ready', '', 0, 0, None), (2085, 84, 66, 1, 'Ready', '', 0, 3, None), (2086, 85, 70, 0, 'Not Ready', '', 0, 0, None), (2087, 86, 86, 2, 'Ready', '', 0, 3, None), (2088, 87, 72, 1, 'Not Ready', '', 0, 4, None), (2089, 88, 77, 1, 'Placed', 'Amazon', 400000, 5, datetime.date(2024, 12, 13)), (2090, 89, 56, 2, 'Not Ready', '', 0, 3, None), (2091, 90, 54, 2, 'Ready', '', 0, 1, None), (2092, 91, 88, 1, 'Not Ready', '', 0, 1, None), (2093, 92, 64, 1, 'Ready', '', 0, 0, None), (2094, 93, 69, 1, 'Ready', '', 0, 1, None), (2095, 94, 98, 2, 'Not Ready', '', 0, 3, None), (2096, 95, 62, 1, 'Not Ready', '', 0, 3, None), (2097, 96, 74, 2, 'Placed', 'Wipro', 300000, 5, datetime.date(2025, 5, 11)), (2098, 97, 61, 1, 'Placed', 'TCS', 1100000, 5, datetime.date(2024, 10, 29)), (2099, 98, 60, 1, 'Not Ready', '', 0, 1, None), (2100, 99, 83, 1, 'Placed', 'Infosys', 800000, 5, datetime.date(2025, 1, 24)), (2101, 100, 82, 2, 'Not Ready', '', 0, 2, None), (2102, 101, 92, 1, 'Placed', 'Infosys', 600000, 5, datetime.date(2025, 3, 22)), (2103, 102, 85, 0, 'Not Ready', '', 0, 4, None), (2104, 103, 98, 2, 'Not Ready', '', 0, 4, None), (2105, 104, 81, 2, 'Placed', 'TCS', 600000, 5, datetime.date(2025, 3, 27)), (2106, 105, 72, 2, 'Placed', 'Amazon', 700000, 5, datetime.date(2025, 1, 3)), (2107, 106, 60, 0, 'Ready', '', 0, 2, None), (2108, 107, 82, 2, 'Placed', 'TCS', 1100000, 5, datetime.date(2024, 12, 17)), (2109, 108, 96, 2, 'Placed', 'Google', 900000, 5, datetime.date(2024, 11, 10)), (2110, 109, 58, 0, 'Ready', '', 0, 0, None), (2111, 110, 97, 1, 'Not Ready', '', 0, 2, None), (2112, 111, 84, 2, 'Placed', 'TCS', 1200000, 5, datetime.date(2024, 7, 31)), (2113, 112, 66, 0, 'Ready', '', 0, 3, None), (2114, 113, 71, 1, 'Not Ready', '', 0, 1, None), (2115, 114, 58, 1, 'Placed', '', 400000, 5, datetime.date(2024, 11, 30)), (2116, 115, 64, 0, 'Not Ready', '', 0, 1, None), (2117, 116, 66, 0, 'Ready', '', 0, 3, None), (2118, 117, 78, 1, 'Placed', 'Google', 500000, 5, datetime.date(2024, 7, 30)), (2119, 118, 63, 0, 'Placed', 'Google', 300000, 5, datetime.date(2025, 3, 17)), (2120, 119, 96, 1, 'Placed', '', 700000, 5, datetime.date(2025, 5, 13)), (2121, 120, 93, 1, 'Ready', '', 0, 0, None), (2122, 121, 92, 1, 'Not Ready', '', 0, 3, None), (2123, 122, 96, 1, 'Placed', 'TCS', 1200000, 5, datetime.date(2025, 3, 11)), (2124, 123, 51, 0, 'Ready', '', 0, 3, None), (2125, 124, 55, 2, 'Ready', '', 0, 4, None), (2126, 125, 80, 0, 'Not Ready', '', 0, 2, None), (2127, 126, 77, 0, 'Ready', '', 0, 0, None), (2128, 127, 93, 2, 'Placed', '', 800000, 5, datetime.date(2024, 10, 23)), (2129, 128, 56, 0, 'Placed', 'Wipro', 1100000, 5, datetime.date(2025, 4, 17)), (2130, 129, 91, 1, 'Placed', 'Wipro', 900000, 5, datetime.date(2025, 3, 29)), (2131, 130, 79, 0, 'Placed', 'Wipro', 1400000, 5, datetime.date(2024, 11, 19)), (2132, 131, 84, 1, 'Ready', '', 0, 4, None), (2133, 132, 83, 1, 'Placed', 'TCS', 1300000, 5, datetime.date(2025, 5, 23)), (2134, 133, 69, 2, 'Not Ready', '', 0, 1, None), (2135, 134, 81, 1, 'Placed', 'Google', 1000000, 5, datetime.date(2025, 6, 16)), (2136, 135, 85, 1, 'Placed', '', 300000, 5, datetime.date(2024, 11, 9)), (2137, 136, 82, 1, 'Ready', '', 0, 3, None), (2138, 137, 68, 2, 'Placed', 'Infosys', 300000, 5, datetime.date(2025, 4, 23)), (2139, 138, 94, 2, 'Not Ready', '', 0, 2, None), (2140, 139, 71, 0, 'Not Ready', '', 0, 4, None), (2141, 140, 88, 0, 'Placed', '', 1400000, 5, datetime.date(2024, 12, 21)), (2142, 141, 78, 0, 'Not Ready', '', 0, 4, None), (2143, 142, 72, 0, 'Ready', '', 0, 3, None), (2144, 143, 93, 2, 'Placed', '', 1000000, 5, datetime.date(2025, 4, 9)), (2145, 144, 98, 2, 'Ready', '', 0, 4, None), (2146, 145, 51, 0, 'Ready', '', 0, 0, None), (2147, 146, 92, 0, 'Not Ready', '', 0, 2, None), (2148, 147, 92, 0, 'Not Ready', '', 0, 4, None), (2149, 148, 71, 0, 'Placed', 'Infosys', 1000000, 5, datetime.date(2025, 6, 8)), (2150, 149, 96, 2, 'Not Ready', '', 0, 0, None), (2151, 150, 61, 1, 'Placed', 'Google', 400000, 5, datetime.date(2024, 12, 16)), (2152, 151, 88, 1, 'Not Ready', '', 0, 4, None), (2153, 152, 56, 2, 'Placed', 'Infosys', 400000, 5, datetime.date(2025, 1, 3)), (2154, 153, 84, 1, 'Ready', '', 0, 1, None), (2155, 154, 73, 1, 'Placed', '', 1200000, 5, datetime.date(2025, 5, 15)), (2156, 155, 88, 2, 'Not Ready', '', 0, 4, None), (2157, 156, 57, 1, 'Ready', '', 0, 3, None), (2158, 157, 92, 0, 'Placed', 'Wipro', 700000, 5, datetime.date(2024, 7, 30)), (2159, 158, 88, 0, 'Ready', '', 0, 0, None), (2160, 159, 68, 0, 'Placed', 'Wipro', 1000000, 5, datetime.date(2024, 8, 11)), (2161, 160, 57, 1, 'Placed', 'Wipro', 900000, 5, datetime.date(2024, 9, 21)), (2162, 161, 84, 2, 'Not Ready', '', 0, 1, None), (2163, 162, 82, 2, 'Placed', 'Amazon', 500000, 5, datetime.date(2025, 3, 7)), (2164, 163, 54, 0, 'Ready', '', 0, 4, None), (2165, 164, 60, 1, 'Ready', '', 0, 3, None), (2166, 165, 82, 0, 'Placed', '', 600000, 5, datetime.date(2024, 8, 21)), (2167, 166, 71, 1, 'Placed', '', 900000, 5, datetime.date(2024, 11, 27)), (2168, 167, 72, 0, 'Placed', '', 1300000, 5, datetime.date(2024, 12, 26)), (2169, 168, 69, 1, 'Ready', '', 0, 2, None), (2170, 169, 52, 1, 'Placed', 'TCS', 1000000, 5, datetime.date(2024, 10, 4)), (2171, 170, 61, 2, 'Placed', '', 900000, 5, datetime.date(2025, 7, 14)), (2172, 171, 75, 0, 'Placed', 'Google', 800000, 5, datetime.date(2024, 12, 21)), (2173, 172, 66, 0, 'Placed', 'Infosys', 400000, 5, datetime.date(2025, 4, 16)), (2174, 173, 60, 2, 'Ready', '', 0, 1, None), (2175, 174, 74, 1, 'Not Ready', '', 0, 4, None), (2176, 175, 91, 0, 'Not Ready', '', 0, 4, None), (2177, 176, 70, 0, 'Not Ready', '', 0, 2, None), (2178, 177, 83, 1, 'Not Ready', '', 0, 4, None), (2179, 178, 53, 0, 'Ready', '', 0, 0, None), (2180, 179, 82, 0, 'Not Ready', '', 0, 3, None), (2181, 180, 79, 1, 'Placed', '', 300000, 5, datetime.date(2025, 2, 18)), (2182, 181, 53, 0, 'Not Ready', '', 0, 3, None), (2183, 182, 82, 1, 'Not Ready', '', 0, 3, None), (2184, 183, 61, 0, 'Placed', 'Wipro', 1000000, 5, datetime.date(2024, 12, 12)), (2185, 184, 50, 1, 'Ready', '', 0, 3, None), (2186, 185, 80, 2, 'Ready', '', 0, 1, None), (2187, 186, 78, 0, 'Placed', 'Amazon', 1300000, 5, datetime.date(2024, 10, 9)), (2188, 187, 77, 1, 'Ready', '', 0, 2, None), (2189, 188, 89, 0, 'Ready', '', 0, 1, None), (2190, 189, 69, 2, 'Not Ready', '', 0, 2, None), (2191, 190, 54, 2, 'Ready', '', 0, 4, None), (2192, 191, 84, 2, 'Not Ready', '', 0, 0, None), (2193, 192, 60, 1, 'Ready', '', 0, 0, None), (2194, 193, 87, 2, 'Not Ready', '', 0, 0, None), (2195, 194, 75, 0, 'Ready', '', 0, 4, None), (2196, 195, 64, 1, 'Ready', '', 0, 3, None), (2197, 196, 66, 2, 'Placed', 'TCS', 900000, 5, datetime.date(2025, 6, 11)), (2198, 197, 89, 1, 'Ready', '', 0, 2, None), (2199, 198, 75, 2, 'Placed', 'TCS', 500000, 5, datetime.date(2024, 12, 26)), (2200, 199, 62, 2, 'Placed', 'TCS', 400000, 5, datetime.date(2025, 6, 8)), (2201, 200, 78, 0, 'Ready', '', 0, 2, None), (2202, 201, 97, 2, 'Not Ready', '', 0, 1, None), (2203, 202, 66, 1, 'Ready', '', 0, 4, None), (2204, 203, 73, 0, 'Placed', 'Wipro', 700000, 5, datetime.date(2025, 5, 29)), (2205, 204, 55, 2, 'Not Ready', '', 0, 1, None), (2206, 205, 69, 1, 'Placed', 'TCS', 400000, 5, datetime.date(2024, 9, 12)), (2207, 206, 85, 2, 'Not Ready', '', 0, 2, None), (2208, 207, 67, 1, 'Not Ready', '', 0, 4, None), (2209, 208, 95, 2, 'Not Ready', '', 0, 1, None), (2210, 209, 51, 0, 'Placed', 'Amazon', 500000, 5, datetime.date(2024, 9, 1)), (2211, 210, 72, 0, 'Placed', 'Amazon', 1200000, 5, datetime.date(2025, 5, 16)), (2212, 211, 90, 1, 'Not Ready', '', 0, 0, None), (2213, 212, 67, 0, 'Not Ready', '', 0, 3, None), (2214, 213, 71, 2, 'Ready', '', 0, 2, None), (2215, 214, 58, 0, 'Ready', '', 0, 4, None), (2216, 215, 70, 1, 'Placed', 'Infosys', 1300000, 5, datetime.date(2024, 11, 24)), (2217, 216, 63, 0, 'Ready', '', 0, 4, None), (2218, 217, 99, 1, 'Not Ready', '', 0, 0, None), (2219, 218, 80, 0, 'Ready', '', 0, 1, None), (2220, 219, 59, 2, 'Placed', 'Infosys', 500000, 5, datetime.date(2024, 12, 13)), (2221, 220, 96, 1, 'Not Ready', '', 0, 4, None), (2222, 221, 60, 1, 'Ready', '', 0, 2, None), (2223, 222, 56, 2, 'Placed', 'Infosys', 400000, 5, datetime.date(2024, 9, 2)), (2224, 223, 80, 1, 'Not Ready', '', 0, 1, None), (2225, 224, 77, 1, 'Placed', 'Infosys', 1400000, 5, datetime.date(2025, 1, 2)), (2226, 225, 86, 1, 'Placed', 'Infosys', 800000, 5, datetime.date(2024, 11, 28)), (2227, 226, 53, 2, 'Not Ready', '', 0, 4, None), (2228, 227, 59, 1, 'Placed', 'Google', 500000, 5, datetime.date(2025, 6, 18)), (2229, 228, 87, 2, 'Not Ready', '', 0, 2, None), (2230, 229, 57, 1, 'Ready', '', 0, 4, None), (2231, 230, 80, 2, 'Placed', '', 1100000, 5, datetime.date(2025, 4, 12)), (2232, 231, 83, 2, 'Placed', 'Amazon', 400000, 5, datetime.date(2025, 6, 17)), (2233, 232, 75, 2, 'Placed', 'Wipro', 1100000, 5, datetime.date(2025, 2, 2)), (2234, 233, 86, 2, 'Ready', '', 0, 4, None), (2235, 234, 82, 0, 'Placed', 'Google', 700000, 5, datetime.date(2025, 1, 12)), (2236, 235, 71, 0, 'Placed', 'Infosys', 900000, 5, datetime.date(2024, 7, 30)), (2237, 236, 94, 2, 'Placed', 'Amazon', 800000, 5, datetime.date(2025, 3, 17)), (2238, 237, 98, 1, 'Ready', '', 0, 0, None), (2239, 238, 88, 0, 'Not Ready', '', 0, 1, None), (2240, 239, 69, 2, 'Not Ready', '', 0, 2, None), (2241, 240, 60, 2, 'Not Ready', '', 0, 1, None), (2242, 241, 57, 2, 'Ready', '', 0, 0, None), (2243, 242, 52, 0, 'Ready', '', 0, 4, None), (2244, 243, 93, 2, 'Ready', '', 0, 1, None), (2245, 244, 95, 0, 'Placed', '', 800000, 5, datetime.date(2025, 6, 24)), (2246, 245, 56, 2, 'Ready', '', 0, 1, None), (2247, 246, 96, 0, 'Placed', 'Amazon', 1000000, 5, datetime.date(2025, 5, 7)), (2248, 247, 60, 2, 'Ready', '', 0, 2, None), (2249, 248, 92, 0, 'Placed', 'Google', 800000, 5, datetime.date(2024, 7, 27)), (2250, 249, 98, 2, 'Placed', 'Google', 1300000, 5, datetime.date(2024, 12, 8)), (2251, 250, 70, 1, 'Placed', 'TCS', 500000, 5, datetime.date(2025, 2, 24)), (2252, 251, 72, 1, 'Ready', '', 0, 1, None), (2253, 252, 79, 0, 'Ready', '', 0, 3, None), (2254, 253, 83, 2, 'Not Ready', '', 0, 2, None), (2255, 254, 52, 0, 'Placed', 'Infosys', 300000, 5, datetime.date(2025, 4, 9)), (2256, 255, 79, 0, 'Ready', '', 0, 2, None), (2257, 256, 73, 2, 'Placed', 'Amazon', 700000, 5, datetime.date(2024, 10, 21)), (2258, 257, 65, 1, 'Ready', '', 0, 3, None), (2259, 258, 88, 2, 'Ready', '', 0, 4, None), (2260, 259, 80, 0, 'Not Ready', '', 0, 2, None), (2261, 260, 70, 0, 'Not Ready', '', 0, 1, None), (2262, 261, 55, 0, 'Ready', '', 0, 3, None), (2263, 262, 86, 0, 'Placed', 'Infosys', 300000, 5, datetime.date(2025, 4, 3)), (2264, 263, 78, 2, 'Not Ready', '', 0, 1, None), (2265, 264, 71, 0, 'Ready', '', 0, 3, None), (2266, 265, 54, 0, 'Not Ready', '', 0, 2, None), (2267, 266, 84, 2, 'Not Ready', '', 0, 2, None), (2268, 267, 84, 0, 'Ready', '', 0, 0, None), (2269, 268, 93, 2, 'Placed', 'Amazon', 300000, 5, datetime.date(2025, 3, 28)), (2270, 269, 64, 2, 'Ready', '', 0, 0, None), (2271, 270, 80, 1, 'Not Ready', '', 0, 1, None), (2272, 271, 60, 2, 'Not Ready', '', 0, 0, None), (2273, 272, 71, 0, 'Placed', 'Infosys', 1100000, 5, datetime.date(2025, 4, 23)), (2274, 273, 65, 0, 'Not Ready', '', 0, 4, None), (2275, 274, 72, 1, 'Placed', 'Infosys', 1400000, 5, datetime.date(2024, 12, 18)), (2276, 275, 73, 2, 'Ready', '', 0, 2, None), (2277, 276, 65, 2, 'Not Ready', '', 0, 4, None), (2278, 277, 98, 2, 'Not Ready', '', 0, 2, None), (2279, 278, 76, 2, 'Not Ready', '', 0, 4, None), (2280, 279, 95, 0, 'Ready', '', 0, 2, None), (2281, 280, 63, 1, 'Not Ready', '', 0, 0, None), (2282, 281, 97, 0, 'Ready', '', 0, 4, None), (2283, 282, 59, 2, 'Not Ready', '', 0, 1, None), (2284, 283, 65, 2, 'Not Ready', '', 0, 4, None), (2285, 284, 96, 0, 'Not Ready', '', 0, 0, None), (2286, 285, 96, 0, 'Placed', 'Amazon', 1300000, 5, datetime.date(2024, 11, 8)), (2287, 286, 90, 1, 'Placed', '', 1100000, 5, datetime.date(2025, 2, 27)), (2288, 287, 92, 2, 'Ready', '', 0, 2, None), (2289, 288, 51, 2, 'Not Ready', '', 0, 3, None), (2290, 289, 56, 2, 'Not Ready', '', 0, 2, None), (2291, 290, 50, 2, 'Ready', '', 0, 3, None), (2292, 291, 98, 1, 'Placed', 'Amazon', 1400000, 5, datetime.date(2025, 5, 2)), (2293, 292, 92, 0, 'Not Ready', '', 0, 4, None), (2294, 293, 75, 1, 'Ready', '', 0, 1, None), (2295, 294, 77, 2, 'Placed', 'Amazon', 400000, 5, datetime.date(2024, 12, 2)), (2296, 295, 93, 1, 'Placed', 'Wipro', 800000, 5, datetime.date(2025, 5, 4)), (2297, 296, 96, 0, 'Not Ready', '', 0, 3, None), (2298, 297, 85, 0, 'Placed', 'Wipro', 500000, 5, datetime.date(2025, 7, 7)), (2299, 298, 66, 1, 'Placed', 'Google', 1300000, 5, datetime.date(2024, 8, 7)), (2300, 299, 97, 1, 'Not Ready', '', 0, 3, None), (2301, 300, 93, 2, 'Ready', '', 0, 4, None), (2302, 301, 86, 1, 'Placed', 'Infosys', 1400000, 5, datetime.date(2025, 6, 30)), (2303, 302, 53, 1, 'Not Ready', '', 0, 1, None), (2304, 303, 88, 1, 'Placed', 'TCS', 1400000, 5, datetime.date(2025, 6, 18)), (2305, 304, 62, 0, 'Ready', '', 0, 2, None), (2306, 305, 62, 2, 'Placed', 'TCS', 600000, 5, datetime.date(2025, 2, 16)), (2307, 306, 72, 2, 'Not Ready', '', 0, 4, None), (2308, 307, 92, 2, 'Ready', '', 0, 3, None), (2309, 308, 79, 1, 'Placed', 'Wipro', 1300000, 5, datetime.date(2025, 1, 9)), (2310, 309, 66, 2, 'Ready', '', 0, 3, None), (2311, 310, 79, 0, 'Placed', 'Google', 800000, 5, datetime.date(2024, 9, 11)), (2312, 311, 97, 0, 'Placed', 'Google', 300000, 5, datetime.date(2024, 11, 5)), (2313, 312, 98, 1, 'Ready', '', 0, 2, None), (2314, 313, 73, 1, 'Ready', '', 0, 4, None), (2315, 314, 86, 1, 'Ready', '', 0, 4, None), (2316, 315, 59, 0, 'Not Ready', '', 0, 0, None), (2317, 316, 55, 0, 'Ready', '', 0, 4, None), (2318, 317, 59, 2, 'Placed', 'Google', 1100000, 5, datetime.date(2024, 11, 28)), (2319, 318, 75, 0, 'Ready', '', 0, 0, None), (2320, 319, 89, 1, 'Not Ready', '', 0, 0, None), (2321, 320, 85, 0, 'Ready', '', 0, 2, None), (2322, 321, 66, 2, 'Placed', 'Infosys', 800000, 5, datetime.date(2025, 5, 7)), (2323, 322, 54, 2, 'Not Ready', '', 0, 4, None), (2324, 323, 83, 1, 'Not Ready', '', 0, 1, None), (2325, 324, 87, 0, 'Not Ready', '', 0, 1, None), (2326, 325, 56, 0, 'Not Ready', '', 0, 3, None), (2327, 326, 77, 1, 'Not Ready', '', 0, 1, None), (2328, 327, 91, 0, 'Not Ready', '', 0, 2, None), (2329, 328, 77, 2, 'Not Ready', '', 0, 2, None), (2330, 329, 61, 2, 'Placed', 'Wipro', 1400000, 5, datetime.date(2025, 2, 4)), (2331, 330, 85, 0, 'Not Ready', '', 0, 3, None), (2332, 331, 55, 1, 'Placed', 'TCS', 800000, 5, datetime.date(2025, 2, 6)), (2333, 332, 59, 0, 'Ready', '', 0, 2, None), (2334, 333, 50, 1, 'Placed', 'TCS', 1200000, 5, datetime.date(2025, 6, 11)), (2335, 334, 94, 1, 'Placed', 'Google', 600000, 5, datetime.date(2024, 12, 24)), (2336, 335, 76, 2, 'Ready', '', 0, 3, None), (2337, 336, 54, 2, 'Not Ready', '', 0, 2, None), (2338, 337, 96, 1, 'Placed', 'TCS', 1400000, 5, datetime.date(2025, 5, 18)), (2339, 338, 86, 2, 'Placed', '', 1400000, 5, datetime.date(2024, 9, 19)), (2340, 339, 64, 2, 'Not Ready', '', 0, 4, None), (2341, 340, 99, 2, 'Ready', '', 0, 1, None), (2342, 341, 71, 0, 'Placed', '', 300000, 5, datetime.date(2024, 12, 12)), (2343, 342, 99, 2, 'Not Ready', '', 0, 3, None), (2344, 343, 91, 0, 'Not Ready', '', 0, 3, None), (2345, 344, 52, 1, 'Placed', 'Amazon', 900000, 5, datetime.date(2025, 4, 2)), (2346, 345, 93, 1, 'Not Ready', '', 0, 1, None), (2347, 346, 95, 1, 'Placed', 'Google', 1300000, 5, datetime.date(2024, 11, 17)), (2348, 347, 83, 1, 'Placed', 'Amazon', 300000, 5,