<a href="https://colab.research.google.com/github/Omvijaya/placement_dashboard/blob/main/DB_generation_for_placement_dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
DB_CONFIG={
    'host': 'localhost',
    'user': 'root',
    'password': '12345',
    'database': 'placement_db'
}

In [ ]:

import mysql.connector
class DataBaseManager:
    def __init__(self,**kwargs):
        self.conn=mysql.connector.connect(
            host=kwargs['host'],
            user=kwargs['user'],
            password=kwargs['password'],
            database=kwargs['database']
        )
        self.cursor=self.conn.cursor()
    def create_table(self,query):
        self.cursor.execute(query)
        self.conn.commit()
    def insert(self,query,values):
        self.cursor.execute(query,values)
        self.conn.commit()
    def fetch(self,query):
        self.cursor.execute(query)
        return self.cursor.fetchall()
    def close(self):
        self.conn.close()
    print('Finished')

Finished

In [ ]:
db=DataBaseManager(**DB_CONFIG)
create_students='''
CREATE TABLE IF NOT EXISTS students(
student_id INT AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(255),
age INT,
gender ENUM('Male','Female'),
email VARCHAR(255),
phone VARCHAR(255),
enrollment_year INT,
course_batch VARCHAR(50),
city VARCHAR(50),
graduation_year INT);'''
db.create_table(create_students)
print('created')

created

In [ ]:
db=DataBaseManager(**DB_CONFIG)
create_programs='''
CREATE TABLE IF NOT EXISTS Programs(programmming_id INT AUTO_INCREMENT PRIMARY KEY,
student_id INT ,
programs_solved_in_py INT,
programs_solved_in_sql INT,
assessments_completed INT,
mini_projects INT,
certifications_earned INT,
latest_project_score INT,
FOREIGN KEY(student_id) REFERENCES Students(student_id));
'''
db.create_table(create_programs)
print('created')

created

In [ ]:
db=DataBaseManager(**DB_CONFIG)
create_softskill='''
CREATE TABLE IF NOT EXISTS SoftSkills (
    softskill_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    communication INT,
    teamwork INT,
    presentation INT,
    leadership INT,
    critical_thinking INT,
    interpersonal_skills INT,
    Average_score DECIMAL(10,2),
    FOREIGN KEY (student_id) REFERENCES Students(student_id)
);
'''
db.create_table(create_softskill)
print('Created')

Created

In [ ]:
db=DataBaseManager(**DB_CONFIG)
create_placements='''
CREATE TABLE IF NOT EXISTS Placements (
    placement_id INT AUTO_INCREMENT PRIMARY KEY,
    student_id INT,
    mock_interview_score INT,
    internships_completed INT,
    placement_status VARCHAR(50),
    company_name VARCHAR(100),
    placement_package INT,
    interview_rounds_cleared INT,
    placement_date DATE,
    FOREIGN KEY (student_id) REFERENCES Students(student_id)
);
'''
db.create_table(create_placements)
print('Created')

Created

In [ ]:
class student:
    def __init__(self,name,age,gender,email,phone,enrollment_year,course_batch,city,graduation_year):
        self.name = name
        self.age = age
        self.gender = gender
        self.email = email
        self.phone = phone
        self.enrollment_year = enrollment_year
        self.course_batch = course_batch
        self.city = city
        self.graduation_year = graduation_year
    def save_to_db(self,db):
        querry='''INSERT INTO students(
        name,age,gender,email,phone,enrollment_year,course_batch,city,graduation_year)
        VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)
        '''
        values=(self.name, self.age, self.gender, self.email, self.phone,
                  self.enrollment_year, self.course_batch, self.city, self.graduation_year)
        db.insert(querry,values)
    print('No error')

No error

In [ ]:
class Programming:
    def __init__(self, student_id, programs_solved_in_py, programs_solved_in_sql, assessments_completed, mini_projects, certifications_earned, latest_project_score):
        self.student_id = student_id
        self.programs_solved_in_py= programs_solved_in_py
        self.programs_solved_in_sql = programs_solved_in_sql
        self.assessments_completed = assessments_completed
        self.mini_projects = mini_projects
        self.certifications_earned = certifications_earned
        self.latest_project_score = latest_project_score

    def save_to_db(self, db):
        query = '''
        INSERT INTO Programs (student_id, programs_solved_in_py, programs_solved_in_sql, assessments_completed, mini_projects, certifications_earned, latest_project_score)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        '''
        values = (self.student_id, self.programs_solved_in_py, self.programs_solved_in_sql, self.assessments_completed,
                  self.mini_projects, self.certifications_earned, self.latest_project_score)
        db.insert(query, values)
    print('No error')

No error

In [ ]:
class softskills:
    def __init__(self,student_id,communication,teamwork,presentation,leadership,critical_thinking,interpersonal_skills,Average_score):
        self.student_id = student_id
        self.communication = communication
        self.teamwork = teamwork
        self.presentation = presentation
        self.leadership = leadership
        self.critical_thinking = critical_thinking
        self.interpersonal_skills = interpersonal_skills
        self.Average_score = Average_score
    def save_to_db(self,db):
        query='''INSERT INTO softskills (student_id,communication,teamwork,presentation,leadership,critical_thinking,interpersonal_skills,Average_score)
        VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'''
        values=(self.student_id, self.communication, self.teamwork, self.presentation,
                  self.leadership, self.critical_thinking, self.interpersonal_skills,self.Average_score)
        db.insert(query,values)
    print('No error')

No error

In [ ]:
class Placement:
    def __init__(self, student_id, mock_interview_score, internships_completed, placement_status, company_name, placement_package, interview_rounds_cleared, placement_date):
        self.student_id = student_id
        self.mock_interview_score = mock_interview_score
        self.internships_completed = internships_completed
        self.placement_status = placement_status
        self.company_name = company_name
        self.placement_package = placement_package
        self.interview_rounds_cleared = interview_rounds_cleared
        self.placement_date = placement_date

    def save_to_db(self, db):
        query = '''
        INSERT INTO Placements (student_id, mock_interview_score, internships_completed, placement_status, company_name, placement_package, interview_rounds_cleared, placement_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'''
        values = (self.student_id, self.mock_interview_score, self.internships_completed,
                  self.placement_status, self.company_name, self.placement_package, self.interview_rounds_cleared, self.placement_date)
        db.insert(query, values)
    print('No error')

No error

In [ ]:
import numpy as np
from faker import Faker
fake=Faker()
db=DataBaseManager(**DB_CONFIG)
for i in range(500):
    age=np.random.randint(18,25)
    s=student(
        name=fake.name(),
        age=age,
        gender=np.random.choice(['Male','Female']),
        email=fake.email(),
        phone=fake.phone_number()[:15],
        enrollment_year=np.random.randint(2023,2025),
        course_batch=f'Batch-{np.random.randint(1,15)}',
        city=np.random.choice(['Chennai','Banglore','Coimbatore','Kumbakonam','Trichy','Tirunelveli','Selam']),
        graduation_year=2045-age)
    s.save_to_db(db)
print('No error')

No error

In [ ]:
import numpy as np
student_ids = [row[0] for row in db.fetch('SELECT student_id FROM Students')]
for student_id in student_ids:
    p = Programming(
        student_id=student_id,
        programs_solved_in_py=np.random.randint(50, 501),
        programs_solved_in_sql=np.random.randint(10, 101),
        assessments_completed=np.random.randint(2, 11),
        mini_projects=np.random.randint(1, 6),
        certifications_earned=np.random.randint(0, 3),
        latest_project_score=np.random.randint(50, 101)
    )
    p.save_to_db(db)
print('No error')

No error

In [ ]:
import numpy as np
student_ids = [row[0] for row in db.fetch('SELECT student_id FROM Students')]
for student_id in student_ids:
    communication=np.random.randint(40, 100)
    teamwork=np.random.randint(40, 100)
    presentation=np.random.randint(40, 100)
    leadership=np.random.randint(40, 100)
    critical_thinking=np.random.randint(40, 100)
    interpersonal_skills=np.random.randint(40, 100)
    ss = softskills(
        student_id=student_id,
        communication=communication,
        teamwork=teamwork,
        presentation=presentation,
        leadership=leadership,
        critical_thinking=critical_thinking,
        interpersonal_skills=interpersonal_skills,
        Average_score=(communication+teamwork+presentation+leadership+critical_thinking+interpersonal_skills)/6
            )
    ss.save_to_db(db)
print('No error')

No error

In [ ]:
from faker import Faker
import numpy as np
statuses = ["Ready", "Not Ready", "Placed"]
companies = ["TCS", "Infosys", "Wipro", "Amazon", "Google"]
student_ids = [row[0] for row in db.fetch('SELECT student_id FROM Students')]
fake=Faker()
for student_id in student_ids:
    placement_status=np.random.choice(statuses)
    company_name=''
    placement_package=0
    placement_date=None
    interview_rounds_cleared=np.random.randint(1,5)
    if placement_status=='Placed':
        company_name=np.random.choice(companies)
        placement_package=100000*(np.random.randint(3,15))
        interview_rounds_cleared=5
        placement_date=fake.date_between(start_date='-1y', end_date='today')
    placement = Placement(
        student_id=student_id,
        mock_interview_score=np.random.randint(50, 100),
        internships_completed=np.random.randint(0, 3),
        placement_status=placement_status,
        company_name=company_name,
        placement_package=placement_package,
        interview_rounds_cleared=interview_rounds_cleared,
        placement_date=placement_date
    )
    placement.save_to_db(db)
print ('Created')

Created